* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fruktur", cursive;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(222, 26%, 31%);
}
.header {
  color: white;
  font-size: 2.5rem;
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  left: 90px;
}
.section-1 {
  height: 80px;
  color: white;
  width: 120%;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: hsl(224, 36%, 15%);
}
.answer {
  color: white;
  font-size: 2rem;
  text-align: end;
  animation: cursor 1s infinite ease;
}
@keyframes cursor {
  0% {
    display: flex;
  }
  50% {
    display: none;
  }
  100% {
    display: flex;
  }
}
.section-2 {
  width: 120%;
  padding: 0.4rem;
  margin: 1rem;
  /* border: 2px solid black; */
  border-radius: 0.5rem;
  background-color: hsl(223, 31%, 20%);
}
.table {
  width: 100%;
}
.row {
  margin: 1rem;
}
.btn {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 75%;
  border-radius: 0.4rem;
  background-color: hsl(30, 25%, 89%);
  box-shadow: 4px 4px hsl(28, 16%, 65%);
  position: relative;
  /* pointer-events: none; */
  /* transition: all 2s ease; */
}

div .row {
  width: 50%;
}
.out {
  width: 40%;
}
.btn-del,
.reset-btn {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 4px 4px hsl(224, 28%, 35%);
}
.equal-btn {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 4px 4px hsl(6, 70%, 34%);
}
.btn:focus {
  /* transform: translateY(2px); */
  animation: btn 0.3s ease 1 alternate;
}
@keyframes btn {
  0% {
    top: 0px;
  }
  50% {
    top: 8px;
  }
  100% {
    top: 0px;
  }
}
.themes {
  position: relative;
  right: 40px;
  margin: 10px auto;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 8px;
  margin: 5px 10px;
  border-radius: 10px;
}
.col:focus {
  background-color: pink;
}
